<h1>Dashboard</h1>

<p><em>You are signed in as:</em> {{currentUser.fullName}} ({{currentUser.email}})</p>

<p>This is your dashboard, where you might some some really interesting stuff.</p>

<p>Actually, not really. We all know there is nothing <em>actually</em> interesting in this world.</p>
