<h1>Hello There!</h1>

<p>Welcome to ember-devise-simple-auth!</p>

<p>
  This page is public, thanks to setting
  <code>skipsAuthentication</code> to <code>true</code> in
  <code>app/assets/javascripts/routes/index.js</code>.
</p>

<p>
  If you haven't yet, go run <code>rake db:seed</code> to
  setup a test user. Then try to visit {{link-to "your dashboard" "dashboard"}}.
  If you are taken to sign in first, enter your credentials. If you see the dashboard
  then everything should be working.
</p>

<p>
  Once it appears to be working, see <code>app/assets/javascripts/application.js</code>
  to play with the different configuration settings available to you. There are only
  a few at the moment, but we'll likely be adding more as time goes on.
</p>

{{#if isSignedIn}}
<p>You are currently <strong>signed in</strong> as: {{currentUser.email}}</p>
{{else}}
<p>You are <strong>not signed in</strong>.</p>
{{/if}}

<p>
  If it appears to not be working, or if you have questions about any of this please
  <a href="https://github.com/d-i/ember-devise-simple-auth/issues/new">
    open an issue on Github
  </a>.
</p>
