<form {{action "signIn" on="submit"}}>

<div class="form-field">
  <label for="email">Email</label>
  {{input type="text" id="email" value=email}}
</div>

<div class="form-field">
  <label for="password">Password</label>
  {{input type="password" id="password" value=password}}
</div>

<button>Sign In</button>

</form>
